nav{
    /* border:1px solid black; */
    height: 55px;
    width: 100%;
    /* background-color: gray; */
}

nav ul {
    list-style-type: none;
    padding: 2px;
    /* border:1px solid rgb(255, 240, 240); */
    width: 99.5%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align:center;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

nav li{
    font-size: 18px;
    color: white;
    /* border:1px solid rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 20px;
}

li:hover{
    background-color: rgb(223, 100, 121);
    transition: all .3s ease-in-out;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color:black ;
    transition: all .3s ease-in-out;
}